/*Sat Panha code*/

.container-about {
   padding: 20px;
   max-width: 1400px;
   margin: 0 auto;
   margin-top: 100px;
 }
 
 .subtitle-about {
   font-size: 18px;
   color: #f37521;
   text-transform: uppercase;
 }
 
 .title-about {
   font-size: 36px;
   line-height: 1.4;
   margin: 10px 0 30px;
 }
 
 .info-about {
   display: flex;
   gap: 20px;
   flex-wrap: wrap;
 }
 
 .image-about {
   position: relative;
   max-width: 400px;
   flex: 1;
 }
 
 .image-about img {
   width: 100%;
   border-radius: 8px;
   object-fit: cover;
 }
 
 .label-about {
   position: absolute;
   bottom: 10px;
   left: 10px;
   background-color: #3a49d9;
   color: #fff;
   padding: 5px 10px;
   font-size: 14px;
   border-radius: 4px;
 }
 
 .description-about {
   flex: 2;
 }
 
 .description-about h2 {
   font-size: 24px;
   margin-bottom: 10px;
 }
 
 .description-about p {
   font-size: 16px;
   line-height: 1.6;
   margin-bottom: 20px;
 }
 
 .btn-about {
   display: inline-block;
   padding: 10px 20px;
   background-color: #f37521;
   color: #fff;
   text-decoration: none;
   font-size: 16px;
   transition: background-color 0.3s;
 }
 
 .btn-about:hover {
   background-color: #d8641b;
 }

/* sat panha */

.nine-content-about-us{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  
}
.card img{
  width: 25vw;
  border-radius: 10px;

}
.card{
  padding: 30px 0 10px 20px;
}
.card a{
  display: inline-block;
  padding: 10px 20px;
  background-color: #f37521;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}
.card p{
  font-size: 14px;
  color: rgb(99, 98, 98);
}