@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-container ul li:nth-child(1) a { border-bottom: 0px;}

.nav-container ul li:nth-child(4) a {
  border-bottom: 3px solid #DE5D0A;
  padding-bottom: 12px;
}

main{
  display: flex;
  padding: 100px 30px 50px;
}

.gallers {
  max-width: 1120px;
  width: 100%;
  margin: auto;
}

.title-head {
  font-size: 21px;
  font-family: 'Poppins', sans-serif;
}

.content {
  padding-top: 25px;
}

.title {
  font-size: 20px;
  font-family: Roboto, sans-serif;
  padding: 0 0 20px;
  color: #DE5D0A;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 auto;
  margin: -12px;

}
.element {
  flex-grow: 0 0 33%;
  max-width: 33%;
  padding: 12px 0 12px 12px;

  .img-box {
    background-color: rgb(229, 231, 235);
    cursor: pointer;
  }

  .title-bus {
    color: #2F354D;
    font-weight: 600;
    background-color: rgb(229, 231, 235);
    padding: 10px 20px;
  }
}
@media (max-width: 600px) {
  main { padding: 100px auto 50px; }

  .row {
    flex-direction: column;
  }
  .element {
    max-width: 100%;
    padding: 12px;
  }
}