.cover{
   background-size: cover;
   object-fit: cover;
   width: 100%;   
   height: 392px;
   display: flex;
   justify-content: center;
   position: relative;
}
.cover>img{
   width: 100%;
   height: 392px;
   object-fit: cover;
   z-index: 1;
}
.booking-trip{
   background-color: rgba(255, 255, 255, 0.85);
   position: absolute;
   top: 58%;
   left: 50%;
   transform: translate(-50%,-50%);
   z-index: 10;
   display: grid;
   grid-template-rows: repeat(2,1fr);
   width: 73vw;
   height: 105px;
   border-radius: 0.6rem;
   padding: 14px 22px 23px 24px;
}
.choose-region{
   display: flex;
   flex-direction: row;
   column-gap: 16px;
}
.option{
   display: flex;
   flex-direction: row;
   column-gap: 8px;
}
.input-infor{
   display: flex;
   flex-direction: row;
   column-gap: 12px;
   margin-top: 14px;
}
.input-infor>input{
   border: 0.8px solid rgb(198, 198, 198);
}
.input-infor>input[type="radio"] {
   transform: scale(1.5);
}
.input-infor>label[for="cambodian"], label[for="non-cambodian"]{
   color: rgba(0, 0, 0, .6);
   font-size: 14px;
   font-weight: bold;
   text-align: center;
}
.input-infor>input[list="place"]{
   width: 260px;
   height: 40px;
   border-radius: 4px;
}
.input-infor>input[type="date"] {
   width: 169px;
   height: 40px;
   border-radius: 4px;
}
.input-infor>button[type="submit"]{
   width: 169px;
   height: 40px;
   border: none;
   background-color: #DE5D0A;
   color: white;
   font-size: 14px;
   font-weight: 400;
   border-radius: 4px;
}
.travel-infor{
   padding: 0px 13% 0 13%;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
}
.secend-header{
   padding: 0px 13% 0 13%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 91px;
   margin: 9px 0px 9px 0px;
}
.secend-header>.right-header{
   display: flex;
   flex-direction: row;
   padding: 30px 0px 0px;  
}
.secend-header>.right-header>h2{
   font-size: 32px;
   font-weight: 600;
   color: #312783;;
}
.secend-header>.right-header>img{
   width: 25px;
   height: 25px;
}
.see-more{
   padding: 30px 10px 0px 0px;
   font-size: 14px;
   font-weight: 500; 
   color: rgb(222, 93, 10);
}
.see-more:hover{
   cursor: pointer;
}
.travel-infor>.box{
   height: 178px;
   border: 0.8px solid rgba(0, 0, 0, 0.12);
   padding: 13px;
   border-radius: 5px;
}
.infor-container{
   display: grid;
   grid-template-rows: 35px 42px 37px 39px;
   align-items: center;
}
.infor-container >.head{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   column-gap: 10px;
}
.infor-container >.head>img{
   width: 32px;
   height: 32px;
}
.direction{
   align-items: flex-start;
   color: black;
   font-size: 14px;
   font-weight: 600;
}
.price-sale{
   display: flex;
   align-items: center;
   column-gap: 10px;
}
.price-sale>img{
   height: 25px;
   width: 25px;
}
.sell-now{
   color: #de5d0a;
   font-weight: 700;
   font-size: 16px;  
}
.sell-discount{
   font-size: 14px;
   text-decoration: line-through solid rgb(188, 188, 189);
   color: rgb(188, 188, 189);
}
.time-travel{
   font-size: 12px;
   font-weight: 400;
}
.infor-container> button[type="submit"]{
   border-radius: 5px;
   font-size: 14px;
   padding: 8px;
   border: 0.8px solid rgb(222, 93, 10);
   color: rgb(222, 93, 10);
   font-weight: 600;
   background-color: white;
}
.infor-container> button[type="submit"]:hover{
   background-color: rgb(222, 93, 10);
   color: white;
   cursor: pointer;
}
