/* the see more see less work */
#moreTxt{
    display:none;
}
 input[type="checkbox"]:checked+label+#moreTxt{
    display:inline;
 }
 label::after{
    content: "See more";
    color: blue;
    cursor: pointer;
 }
 input[type="checkbox"]:checked+label::after{
   content: "See less";
   
 }
 input[type="checkbox"]{
    display: none;
 }
/* end see more see less */
/* the tilte */
.top{
    
    text-align: center;
    margin-top:18vh;
    margin: auto;
   
    
}
.nav-container ul li:nth-child(3) a{
   border-bottom: 3px solid #DE5D0A;
   padding-bottom: 12px;
}
.nav-container ul li:nth-child(1) a{
   border: none;
}
.main{
   background-color: #FFFFFF;
   padding: 0% 10% 0% 10%;
}
.content-vehicle{
   max-width: 1400px;
   margin-top: 125px;

}
.sub-title{
   font-size: 15px;
   font-weight: 400;
   color: rgb(222, 93, 10);
   letter-spacing: 2.3px;

}
.title{
   font-size: 36px;
   line-height: 1.4;
   font-weight: 600;
   white-space: nowrap;/*  not get other line with long p */
}
.title-para{
   text-align: center;
   max-width: 750px;
   margin: auto;
   font-size: 14px;
   color: black;
   line-height: 1.6;
    

}
.under-top {
   display: flex;
   justify-content: center;
   margin-top: 16px;


}
.under-top button{
   margin-left: 10px;
   background-color: white;
   border-radius: 8px;
   width: 150px;
   height: 36px;
   color: rgb(255, 144, 75);
   font-weight: 700;
   font-size: 15px;
   position: relative;
   padding-bottom: 10px;

   
}
.under-top button img{
   
   width: 26px;
   height: auto;
   
}
.under-top p{
   font-size: 24px;
   color: #404040;
  
}
.image1{
   
   object-fit: cover;
   border-radius: 1px;
   
}
