*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
 }

 
 .main{
    width: 100%;
    max-width: 1260px;
    background-color: white ;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

 }
 .up-content{
    flex-direction: column;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 .left-content{
    display: flex;
    flex-direction: column;
 }
 .info{
    background-color: #e77b38;
    padding: 30px 90px;
    color: white;
 }
 .info h3{
   font: 0.3em;
 }
 .right-content{
    position: relative;
    margin-left: 170px;
    margin-top: 300px;
    width: 75vw;
    font: 10px;
    
    
    
 }
 .right-content h6{
    background-color: rgba(193, 156, 87, 0.359);
    padding: 30px 20px;
 }
.up-content img{
    position: absolute;
    margin-top: 100px;
    margin-left: 135px;
    z-index: 2;
    display: block;
    
}

.decrition {
    margin-left: 440px;
    margin-top: 30px;
    font-size: 0.9rem;
    text-align: start;
    
}
.decrition p{
    padding: 5px;
    
}
.para {
    margin-top: 34px;
    text-align: start;
    font-size: 1.2rem;
    margin-left: 100px;
    grid-column: span 2;
    font-size: 0.95em;
    padding: 15px;
    

   
}

.phrase1{
   padding: 10px;
}
.phrase2{
   padding: 10px;
}
.phrase3{
   padding: 10px;
}
.phrase4{
   padding: 10px;
}

@media (max-width: 771px) {
   .main{
      height:1000px ;
      width: 100%;
   }
   .up-content{
      grid-template-columns: 1fr;
     
   }
   .right-content{
      grid-template-columns: 1fr;
   }
  
   .up-content img {
       max-width: 25%;
       position: relative;
       z-index: 2;
       left: -20px;    

   }
   .right-content {
      position: absolute;
      top:-170px;
      
   }


    .para {
       font-size: 1rem;
       margin: 120px;
       grid-column: 1 span; 
   }
   .decrition{
      font-size: 0.9rem;
      margin-left: 100px;
     
      
      
      
   }
   .footer-bar{
      margin-top: 200px;
   }

  
}
@media (max-width: 1258px) {
   .up-content{
      grid-template-columns: 1fr;
   }
   .right-content{
      grid-template-columns: 1fr;
   }
  
   .up-content img {
       max-width: 25%;
       position: relative;
       z-index: 2;
       left: -25px;    

   }
   .right-content {
      position: absolute;
      top:-170px;
      
   }


    .para {
       font-size: 1rem;
       margin: 120px;
       grid-column: 1 span; 
   }
   .decrition{
      font-size: 0.9rem;
      margin-left: 190px;
     
      
      
      
   }
   .footer-bar{
      margin-top: 200px;
      padding-left: auto;
   }

  
}


@media (max-width: 751px) {
   .up-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      max-width: 751px;
      width: 100%;
   }

   .info {
      margin-top: 400px; 
      max-width: 800px;
      padding: 40px 50px;
      position: absolute;
   }

   .up-content img {
       max-width: 40%; 
       margin: 0 auto; 
       position: relative;
       z-index: 2;
       bottom: 40px;
   }

   .decrition {
      margin-top: 500px; 
      padding: 10px;
      max-width: 90%; 
     
   }

   .right-content {
      margin-top: 20px;
      padding: 10px;
      max-width: 90%;
   }

   .para {
       font-size: 0.9rem;
       max-width: 90%;
       margin: 20px auto;
       text-align: left;
   }

   .footer-bar {
      margin-top: 50px;
   }

   .footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
   }
}
