*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 
 
 .contenter h1{
   margin-top: 120px;

 }
 .main p{
   text-align: start;
   line-height: 2;
 }
 .main h4{
   font-size: 1.5em;
   line-height: 3.5;
   color: rgb(64, 64, 204);
 }
 .content1{
   display: flex;
   gap: 60px;
   margin-left: 70px;
 }
 
 
 .image img{
   display: flex;
   flex-direction: column;
   padding: 10px;
   
 }
 .phrase1{
   line-height: 3;
   margin-left: 20px
 }
 .phrase1 p{
   margin-left: 60px;
   
 }
 span{
   color: #DE5D0A;
 }
 .content1{
   display: flex;
   gap: 60px;
   margin-left: 70px;
 }
 
 
 .image img{
   display: flex;
   flex-direction: column;
   padding: 10px;
   
 }
 .fix{
   line-height: 1.5;
   margin-top: 10px;
 }
 .fix p{
   line-height: 1.2;
   margin-left:45px;
 }
 .phrase2{
   margin-top: 30px;
   margin-left: 20px;
 }
 
 .phrase2 li{
 line-height: 2.7;
 padding: 10px;
 }
 .phrase2 p{
   line-height: 0;
   margin-bottom: 10px;
 }

 
 
 span{
   color: #DE5D0A;
 }
 @media (max-width:960px){
   .content1{

      display: flex;
   }
   .contenter > h1 {
      margin-left: 20px;
   }
   .contenter{
      padding: 20px;
      max-width: 960px;
   }
}
@media (min-width:320px) and (max-width:600px) {
   .content1{
      display: block;
      margin: auto;
     
   }
}

 
 
 