*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
 }
 a{
    text-decoration: none;
    color: inherit;
 }
 .container{
    display: flex;
    flex-direction: column;
 }
 .navigation-bar{
    position: fixed;
    z-index: 100;
    height: 67px;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0 13% 0 13%;
 }
 .nav-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
 }
 .logo-nav{
    width: 50px;
    height: 38px;
 }
 .nav-container ul{
    display: flex;
    flex-direction: row;
 }
 .nav-container ul li{
    margin: 0 23px 0 23px;
    text-decoration: none;
    list-style: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
 }
 .nav-container ul li:nth-child(1) a{
    border-bottom: 3px solid #DE5D0A;
    padding-bottom: 12px;
 }
 .fa-caret-down{
    margin-left: 10px;
 }
 .main{
    height: 100vh;
    margin-top: 120px;
    margin-left: 150px;
 }
 .main h1{
    text-align: center;
    margin-bottom: 30px;
    color: #DE5D0A;
    font-size: 2em;
    margin-right: 150px;
 }
 .content1{
    display: flex;
    column-gap: 10px;
 }
 .image img{
    width: 35vw;
    margin-left: 20px
 }
 .phrase p{
    font-size: 0.9em;
 }
 .phrase h5{
    line-height: 4;
    color: #DE5D0A;
    margin-left: 20px;
    font-size: 1em;
    font-weight: 400;
    position: relative;

    
 }
 .content2{
    margin-top: 10px;
    display: flex;
    column-gap: 20px;
 }
 .image1 img{
    width: 35vw;
    margin-left: 20px
 }
 .phrase p{
    font-size: 0.9em;
 }
 .phrase h5{
    line-height: 4;
    color: #DE5D0A;
    margin-left: 20px;
    font-size: 1em;
    font-weight: 400;
    position: relative;

    
 }
 .line{
    display: flex;
 }

 hr{
    width: 38px;
    position: absolute;
    margin-top:40px;
    margin-left: 18px;
    background-color: #DE5D0A;

 }
 
 .phrase1 h4{
    line-height: 4;
    margin-left: 15px;
    color: rgb(112, 112, 201);
    
 }
 .phrase1 li{
    margin-left: 20px;
    font-size: 0.9em;
 }
 .phrase li{
    font-size: 0.9em;
    padding-right: 115px;
    margin-left: 40px;
    text-align: start;
    
 }
 .phrase p{
    margin-left: 20px;
 }
 .footer-bar{
    background-color: #FDF1EA;
    width: 100%;
    padding: 0px 13% 0 13%;
 }
 .foot-container{
    width: 100%;
    display: grid;
    grid-template-columns: 66% 34%;
 }
 .left-footer{
    padding: 12px 0px 0px 0px;
 }
 .head-foot-left{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    font-size: 20px;
    column-gap: 26px;
    margin-bottom: 16px;
 }
 .logo-foot{
    width: 48px;
    height: 36px;
 }
 .address-detail{
    display: grid;
    color:rgba(0, 0, 0, 0.87);
    grid-template-rows: 64px 40px 40px;
    font-style: normal;
    font-size: 1rem;
    font-weight: 400;
 }
 address{
    grid-row: 1;
    display: grid;
    grid-template-columns: 95px 321px;
    font-style: normal;
 }
 .address-detail p{
    padding: 0px 0px 0px 20px;
 }
 .email{
    display: grid;
    grid-template-columns: 45px 243px;
 }
 .phone{
    display: grid;
    grid-template-columns: 26px 152px;
 }
 .right-footer{
    color: rgb(29, 29, 29);
    font-size: 20px;  
    padding: 12px;
    font-style: normal;
 }
 .social-media-icon {
    list-style: none;
    display: flex;
    column-gap: 10px;
    margin: 10px 0 22px 0px;
 }
 .social-media-icon li a img{
    width: 32px;
    height: 32px;
 }
 .payment-accept img{
    width: 250px;
    height: 24px;
    margin-top: 12px;
 }
 .foot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(110, 110, 115);
    padding: 12px 0 12px 0;
    border-top: 1px solid rgb(110, 110, 115);
 }
 
 