.main {
   background-color: white;
   display: flex;
   padding-bottom: 0px;
   padding: 0 30px 0 30px;
}

.up-content {
   display: grid;
   max-width: 1120px;
   width: 100%;
   grid-template-columns: repeat(2, auto);
   margin: auto;
}

.left-content {
   display: flex;
   flex-direction: column;
}

.info {
   border-top: 50px solid rgb(253, 237, 228);;
   /* background-color: #e77b38; */
   /* padding: 30px 45px; */
   padding-top: 15px;
   height: 140px;
   color: white;
   background: rgb(232, 138, 77);
   
}

.info h3 {
   color: rgb(253, 237, 228);
   font-size: 20px;
   text-align: center;
   font-weight: 700;
   line-height: 30px;
}

.right-content {
   /* position: relative; */
   /* margin-left: 170px;
   margin-top: 300px; */
   /* width: 70vw; */
   /* width: 59.90vw; */
   max-width: 920px;
   z-index: 0; 
   position: absolute; 
   /* top: 160px; */
   display: grid;
   grid-template-rows: repeat(2,auto);
   font: 10px;
   left: 150px;
   top: 300px;
   margin-right: 40px;


}

.right-content h6 {
   background-color: rgba(193, 156, 87, 0.359);
   padding: 30px 20px;
}

.up-content img {
   position: relative;
   z-index: 10;
   margin-top: 120px;
   display: block;
   width: 350px;
   height: 513px;

}
.content{
   display: block;
   position: relative;
}

.decrition {
   margin-left: 230px;
   margin-top: 30px;
   font-size: 15px;
   text-align: start;
   line-height: 26px; 
   /* color: #535b61;  */
   color: rgba(0, 0, 0, 0.87);
}

.decrition p {
   padding: 5px;

}

.para {
   margin-top: 37px;
   text-align: start;
   font-size: 1.2rem;
   max-width: 1120px;
   /* margin-left: 160px; */
   grid-column: span 2;
   font-size: 15px;
   line-height: 26px;
   /* padding: 15px */
   display: grid;
   grid-template-rows: repeat(2,auto);
   grid-column: 1;
   color: #5b6063;
   font-weight: 400;
   row-gap: 16px;
}
.bottom-para{
  /* background-color: #E7E9ED; */
  margin-top: 0px;
  /* width: 100vw; */
  max-width: 1120px;
  justify-content: center;
  padding: 16px 30px 38px 30px;
}
.phrase3,.phrase4{
   max-width: 1120px;
}
/* 
.phrase1 {
   padding: 10px;
}

.phrase2 {
   padding: 10px;   
}

.phrase3 {
   padding: 10px;
}

.phrase4 {
   padding: 10px;
} */
 @media (min-width:1500px) {
   .nav-container{
      /* max-width: 1120px; */
      /* width: 100%; */
      width: 80.53vw;
   }
   .content{
      width: 80.20vw;
      
     
   }
   
 }

@media (max-width: 1000px) {
.right-content{
   top: 180px;
} 
.up-content img {
      /* max-width: 25%; */
      top: 30px;
      height: 381px;
      width: 260px;
      margin-bottom: 15px;
      /* position: relative; */
      /* z-index: 2; */
      /* left: -20px;     */
}
.decrition{
   margin-left: 180px;
}
/* .right-content {
      position: absolute;
      top:-170px;     
  } */

   /* .para {
      font-size: 1rem;
      grid-column: 1 span; 
}
  .decrition{
     font-size: 0.9rem;
     margin-left: 100px;
    
     
     
     
  }
  .footer-bar{
     margin-top: 200px;
  } */
}  
@media (max-width: 750px) {
  #infor{
     border-top: none;
     margin-left: -150px;
     width: 88vw;
     padding-left: 40px;
     padding-top: 40px;
  }
  .info h3 {
     text-align: left;
     font-weight: 600;
  }
  .right-content{
     top: 460px;
     max-width: 140px;
  }
 
  .up-content img {
      /* max-width: 25%; */
      top: -10px;
      height: 381px;
      width: 260px;
      margin-bottom: 120px;
      /* position: relative; */
      /* z-index: 2; */
      /* left: -20px;     */
  }
  .decrition{
    display: none;
     
  }
}
/* @media (max-width: 1258px) {
  .up-content{
     grid-template-columns: 1fr;
  }
  .right-content{
     grid-template-columns: 1fr;
  }
 
  .up-content img {
      max-width: 25%;
      position: relative;
      z-index: 2;
      left: -25px;    

  }
  .right-content {
     position: absolute;
     top:-170px;
     
  }


   .para {
      font-size: 1rem;
      margin: 120px;
      grid-column: 1 span; 
  }
  .decrition{
     font-size: 0.9rem;
     margin-left: 190px;
    
     
     
     
  }
  .footer-bar{
     margin-top: 200px;
     padding-left: auto;
  }

 
} */


/* @media (max-width: 480px) {
  .up-content{
     grid-template-columns: 1fr;
  }
  .right-content{
     grid-template-columns: 1fr;
  }
  .up-content img {
      max-width: 100%;
      margin-top: 20px; 
  }

  .right-content h6{
     display: none;
     background-color: white;
  }
   .para {
      font-size: 0.8rem;
      grid-column: span 1;
      margin: 100px;
     
  }
  

  .footer-bar {
      margin-top:200px;
  }
  .social-media-icon{
     flex-wrap: wrap;
  }
} */