*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
 }
.main-contenter{
   max-width: 1130px;
   margin: auto;
   padding: 30px;

}


 .main-contenter h1{
    text-align: center;
    margin-top: 50px;
    color: #DE5D0A;
    font-size: 2em;
    line-height: 4;
    
   
 }
 .content{
    display: flex;
    column-gap: 10px;
    margin: auto;
 }
 .image img{
    width: 30vw;
    margin-left: 20px
 }
 .phrase p{
    font-size: 0.9em;
    margin-right: auto;
 }

 .content{
    margin-top: 10px;
    display: flex;
    gap: 36px;
    
 }
.phrase{
   max-width: 500px;
  
}
 .phrase p{
    font-size: 0.9em;
    margin-right:auto;
    
 }
 .phrase h5{
    line-height: 4;
    color: #DE5D0A;
    font-size: 1em;
    font-weight: 400;
    
    text-decoration: underline;
    
 }
 

 .line{
    display: flex;
 }


 .phrase1 h4{
    line-height: 4;
    margin-left: 15px;
    color: rgb(112, 112, 201);
    
 }
 .phrase1 li{
    margin-left: 20px;
    font-size: 0.9em;
    
 }
 
 .phrase li{
    font-size: 0.9em;
    padding: 10px;
    text-align: start;
    max-width: 560px;
    margin-left: 20px;
 }
 .phrase p{
    margin-left: 20px;
    max-width: 550px;
 }
 
 @media (max-width:960px){
   .main-contenter{
      display: block;
      padding: 20px;
   }
   
 }
 @media (min-width:320px) and (max-width:600px){
   .main-contenter{
      display: block;
      padding: 20px;
   }
   .content{
      display: block;
   }
   .image img{
      max-width: 100%;
   }
 }
 
 