*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
 }
 .main-contenter h1{
   justify-content: center;
   text-align: center;
   color: orange;
   margin-bottom: 40px;
 }
.main-contenter{
   max-width: 1900px;
   margin-top: 30px;
   
  
}
.content{
   
   justify-content: center;
   max-width: 1000px;
   padding: 20px;
   line-height: 3;
   margin-left: 163px;
}
.content h3{
   color: orange;
   font-size: 1.2em;
}
.content h4{
   color: orange;
   font-size: 1.2em;
}
.content a{
   color: rgba(30, 30, 221, 0.848);
   font-size: 0.9rem;
   
}
.content li{
   margin-left: 40px;
   font-size: 0.9em;
}
.content a:hover{
   color: orange;
   cursor: pointer;
}

@media (min-width:1550px) {
   .nav-container{
      max-width:  1550px;
      width: 100%;
      
   }
   
  

}
@media (max-width:960px){
   .main-contenter{
      max-width: 960px;
   }
   .content{
      margin: auto;
     
   }
   
   .content> h3 , h4{
   line-height: 1.5;
   padding: 20px;
   font-size: 1.4rem;
   }
   .content li{
    font-size: 0.9rem;
    line-height: 2;
   }
   .content a{
      font-size: 0.8rem;
   }
}
@media (min-width:320px) and (max-width:460px){
   .content  {
    font-size:0.8rem ;
    padding: 20px;
   }
   .content li{
      font-size: 1em;
   }
   .content a{
      font-size: 0.8rem;
   }
}

 