.main {
   display: flex;
   padding: 73px 30px 0 30px;

}

.main h1 {
   text-align: center;
   margin-bottom: 25px;
   font-size: 36px;
   font-weight: 600;
   color: rgb(222, 93, 10);
   margin-top: 52px;
   color: #DE5D0A;
}
.main-con{
   max-width: 1180px;
   padding: 0 30px 0 30px;
   margin: auto; 
}
.col {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 24px;
}

.content {
   background-color: #E5A880  ;
   height: 200px;
   border: 1px solid wheat;
   border-radius: 20px;
}

.content h2 {
   margin-left: 15px;
   font-weight: 500;
   font-size: 1.3em;
   margin-top: 20px;
   font-weight: 600;
   color: rgb(29, 29, 29);
}

.content li {
   font-size: 0.9em;
   margin-left: 30px;
   padding: 2.5px 0 2.5px 0;
}

.content h2 {
   margin-left: 15px;
   font-weight: 500;
   font-size: 1.3em;
   margin-top: 15px;
   padding: 5px;
}
@media (max-width:1090px){
   .content{
      height: 240px;
   }
}
@media (max-width:600px){
   .col {
      grid-template-columns: 1fr;
   }
   .content{
      max-width: 522px;
      height: 240px;
   }
}