*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
 }
 
 
  .main-content{
   max-width:  1130px;
   width: 100%;
   margin: auto;
  }
 
#pp{
    
        margin-top: 52px;
        font-size: 0.9em;
}
.main h3{
    margin-top: 5px;
    font-size: 1.2em;
    
}
.Para{
   
    margin-top: 30px;
    font-size: 0.9em;
    line-height: 2;
}

 .content{
    display: flex;
    flex-direction: row;
  
 }
 #Sincere{
    line-height: 3;
    font-size: 0.9em;
 }
 #message{
    line-height: 3;
    font-size: 0.9em;
 }
 #ceo{
    line-height: 3;
    font-size: 0.9em;
 }

 .pic img{
   
    margin-top: 25px;
    width: 26.10vw;  
    background-color: #DE5D0A;

 }
 .phrases{
    font-size: 0.8em;
    line-height: 2;
    margin-left: 30px;
    margin-top: 20px;
 }
 @media (min-width:1550px){
   .nav-container{
      max-width:  80.20vw;  
   }
   .main-content{
      max-width: 80.30vw;
   }
}

 
 @media (max-width: 1024px) {
   .content{
      display: grid;
      
      
   }
   #pp{
      margin-left: 15px;
   }
   .main h3{
      margin-left: 15px
   }
   .pic img{
      max-width: 1000px;
      width: 95%;
      margin-left: 20px;
   }
   
   .Para{
      font-size: 0.8em;
      margin-left: 20px;
   }
   #Sincere, #message , #ceo{
   margin-left: 20px;
   font-size: 0.8rem;
   }
 }
 
 