*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
 }
 
 .main {
    max-width: 2400px;
    width: 100%;
    margin: auto;
    background-image: url(https://vireakbuntham.com/img/revamp-service-bg-updated.ba6600fc.png);
    background-size: cover;
    background-position: center;
    color: white;

}
.main h1 {
    text-align: center;
    margin-top:100px;
    padding: 10px;
    font-size: 2.5em;
    color: white;
}
.main p {
    text-align: center;
    font-size: 1em;
    margin: 20px 30px;
    color: white;
}
.category {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(4, 367px);
    gap: 20px;
    margin:auto;
    margin-bottom: 20px;
    
  
}
.col1 {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: black;
}
.col1 img {
    width: 50px;
    margin-bottom: 10px;
}
.col1 h4 {
    font-size: 1.1em;
    margin: 10px 0;
    font-weight: 400;
    
}
.col1 ul {
    padding-left: 20px;
    margin: 0;
}
.col1 li {
    font-size: 0.9em;
    line-height: 1.5;
}
 
 @media (max-width:1280px){
   .category {
      grid-template-columns: repeat(2, auto);
    }
    .right-footer{
      margin-left: 20px;
    }
 }
 @media (max-width:600px){
   .category {
      grid-template-columns: 90%;
      justify-content: center;
        
    }
    .right-footer{
      margin-top: 250px;
      
      justify-content: end;
    }
 }
 @media (max-width:450px){
   .mian-container>h1 {
      text-align: left;
      font-size: 26px;
   }
   
   
}