*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Open Sans, sans-serif, Noto Sans Khmer;
   }
   .contenter{
      margin: auto;
      max-width: 1120px;
      
   
 }
 .main{
   padding: 30px;
 }
 

 .contenter h1{
   font-weight: 500;
    
 }
 .contenter p{
   text-align: start;
   line-height: 2;
  
 }
 
 .contenter h4{
   font-size: 1.5em;
   line-height: 3.5;
   color: rgb(64, 64, 204);
 }
 
 .content1{
   display: flex;
   gap: 12px;
   max-width: 1260px;
   width: 100%;
   padding: 30px;
   
   
  
 }
 
 
 .image img{
   display: flex;
   flex-direction: column;
   padding: 10px;
   
 }
 /* .phrase1{
   line-height: 3;
   
 }
 .phrase1 p{
   margin-left: 20px;
   
 } */
 span{
   color: #DE5D0A;
 }
 .content1{
   display: flex;
   gap: 12px;  
 }
 .phrase{
   margin-top: 10px;
   margin-left: 20px;
   line-height: 2;
 }
 
 
 .image img{
   display: flex;
   flex-direction: column;
   padding: 10px;
   
 }
 .fix{
   line-height: 1.5;
   margin-top: 10px;
 }
 .fix p{
   line-height: 1.2;
   margin-left:45px;
 }
 /* .phrase2{
   margin-top: 30px;
   
 }
 
 .phrase2 li{
 line-height: 2.7;
 padding: 10px;
 }
 .phrase2 p{
   line-height: 0;
   margin-bottom: 10px;
 } */

 
 
 span{
   color: #DE5D0A;
 }
 
 @media (max-width:960px){
   .content1{

      display: flex;
   }
   .contenter > h1 {
      margin-left: 20px;
   }
   .contenter{
      padding: 20px;
      max-width: 960px;
   }
  
   .phrase li{
      line-height: 1.5;
      font-size: 0.9rem;
      
   }
   
 }
 @media (min-width:320px) and (max-width:600px) {
   .content1{
      display: block;
      margin: auto;
     
   }
   .contenter h4{
      line-height: 1.5;
      font-size: 2em;
   }
   .contenter{
      margin: auto;
      max-width: 100%;
      
   }
   .content1 img{
      max-width: 300px;
   }
  
 }
 