@media (max-width:1025px) {
    .booking{
        margin-bottom: 20px;
    }
    .topic {
        display: flex;
        flex-direction: column;
        padding-left: 150px;
         
       
    }
   
    .info{
        display: flex;
        flex-direction: column;
        padding: 12px;
    }
    
    #firstN, #Num{
        width: 316px;
    }
    #name{
        color: gray;
        font-size: 14px;
    }
    .select{
        margin-left: -8px;
        
    }
    #Destination,#arrival{
        width: 292px;
        margin-right: 12px;
        
    }
    #date{
        margin-left: 10.7%;
    }
    #Amoung-car{
        width:272px ;
        margin-left: 9.5%;
    }
    .Date{
        padding-bottom: 12px;
    }
    #Bio{
        margin-left: 10.70%;
        width: 272px;
        border: 1px solid grey;
    }
    .Vehicle{
        font-size: 15px;
    }
    .type{
        font-weight: 620;
    }
    .left{
        padding-left: 0px;
        margin-top: -100px;
    }
    .image-car>img{
        width: 450px;
    }
    .Save{
        width: 450px;
        padding-left:200px;
    }
}
@media (max-width:431px) {
    
    .booking{
        font-size: 20px;
        
    }
    .Journey{
        margin-top: 20px;
    }
    .topic {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-left: 20px;
         
       
    }
    .name-num{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        
        
        
    }
    .info:nth-child(1){
        margin-left: 0%;
        max-width: 400px;
    }
    .info:nth-child(2){
        
        max-width: 400px;
        
    }
    #firstN, #Num{
        width: 362px;
        border-radius: 6px;
    }
    .info{
        padding: 10px;
    }
    #name{
        color: black;
    }
    .select{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 14px;
        align-content: space-evenly;
        padding-bottom: 0px;
    }
    .type{
        margin-left: 0px;
    }
    .choice input{
        height: 18px;
        width: 18px;
    }

    #Destination{
        margin-left: 1.9%;
        margin-bottom: 20px;
        
    }
    #Destination,#arrival{
        width: 340px;
    }
    #date{
        width: 340px;
        margin-left: 32px;
    }
    .Date{
        padding-top: 12px;
        padding-bottom: 4px;

    }
    
    .car{
        padding: 4px;
        height: 40px;
       
    }
    #Amoung-car{
        width: 338px;
        margin-left: 32px;
        
    }
    .left{
        margin-top: 0px;
        
    }
    .Bio{
        padding-top: 20px;
        padding-bottom: 10px;
    }
    #Bio{
        width: 340px;
        margin-left: 32px;
        height: 100px;
    }
    .image-car>img{
        margin-left: 32px;
        width: 340px;
        
    }
    .Save{
        margin-left: 32px;
        width: 340px;
        padding-left: 145px;

        
    }

}
