.fa-bars{
   display: none;
   font-size: 18px;
}
@media (max-width:950px) {
   .nav-container > ul {
      display: none; 
   }
   .fa-bars{
      display: block;
   }
   .foot-container{
      width: 100%;
      display: grid;
      grid-template-columns: 1fr;
   }
   .foot{
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
   }
   
   
}
@media (max-width:470px){
   .address-detail{
      font-size: 12px;
   }
   address{
   grid-template-columns: auto auto;
   }
}
@media  (min-width:1550px){
   .nav-container{
      /* max-width: 1120px; */
      /* width: 100%; */
      width: 80.23vw;
   }
   .foot{
      /* max-width: 1120px; */
      
      width:80.23vw ;

   }
   .foot-container{
      max-width: 80.23vw;
      width:100% ;
      display: grid;
      
   }
   .left-footer{
      padding: 2px;
   }
   .right-footer{
      padding-top: 12px;
      padding-bottom:52px ;
      padding-left: 35px;
      
   }
}